flask==3.0.0
langchain==0.3.26
langchain-core==0.3.24
langchain-community==0.3.26
langchain-text-splitters==0.2.1
langchain-groq==0.2.3
langchain-pinecone==0.2.8
langchain-huggingface==0.1.2
pinecone-client==5.0.1
python-dotenv==1.1.0
sentence-transformers==3.0.1
pypdf==5.1.0
openai==1.14.0